<div class="container-fluid">
    <div class="row border-top border-dark border-2">
        <div class="col-md-3">
            <mat-card class="bg-light text-end">
                <form [formGroup]="todoForm">
                    <mat-form-field appearance="fill">
                        <mat-label>Add Task</mat-label>
                        <textarea matInput formControlName="item"></textarea>
                      </mat-form-field>
                      <button mat-raised-button color="primary" [disabled]="todoForm.invalid" class="">Add</button>
                </form>
            </mat-card>
            
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <div class="example-container">
                        <h2>To do</h2>
                        <div
                          cdkDropList
                          [cdkDropListData]="todoList"
                          class="example-list"
                          (cdkDropListDropped)="drop($event)">
                          <div class="example-box" *ngFor="let item of todoList" cdkDrag>{{item}}</div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>
